@import 'bulma';
@import 'variables';

.content h1{
  color: palevioletred;
}

div.card-content {
  background-color: white;
}
.card {
  margin-bottom: 2em;
}

.sb-btn{
  background: palevioletred;
  color: white;
}

.card-container {
  margin-bottom: 2em;
  padding: 0% 25%;
}

label.label {
  font-weight: normal;
}

.width{
  width: 100%;
}

