@import 'bulma';
@import 'variables';

.content h1{
  color: palevioletred;
}

div.card-content {
  background-color: white;
}
.card {
  margin-bottom: 2em;
}

.sb-btn{
  background: palevioletred;
  color: white;
}

.card-container {
  margin-bottom: 2em;
  padding: 0% 25%;
}

label.label {
  font-weight: normal;
}

.width{
  width: 100%;
}

.alert{
  color: red;
}

.alert-input{
  border: 1px solid #ff0000;
}

.v-input__control{
  border: 1px solid #ff0000;
}

.textarea{
  width: 100%;
  height: 150px;
  resize: none;
}

